<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">product name</th>
      <th scope="col">product price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>book</td>
      <td>300</td>
      <td><i class="bi bi-asterisk"></i></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>watch</td>
      <td>2000</td>
      <td><i class="bi bi-backpack"></i> </td>
    </tr>


    
  </tbody>
</table>
